<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link  href="/css/home.css" rel="stylesheet">

</head>
<body>
    <header>
        <section class="burguerMenu">
            <i class="fa-solid fa-bars"></i>
        </section>

        <section class="search">
            <input type="text">
        </section>

        <section class="userIcon">
            <i class="fa-solid fa-circle-user"></i>
        </section>
    </header>

    <main>

        <h1>Descarga Tus Juegos Favoritos</h1> <br>
        <article class="primerArticulo">
            <div class="contArticulo">

                <section class="imgPrincipal">
                    <img class="img1" src="/img/imgP.jpeg"  alt="">
                </section>
                
                <section class="imgSecundarias">
                    <img class="img2" src="/img/cuphead_screenshot_0001.png" alt="">
                    <img class="img2" src="/img/OIP (1).jpg" alt="">
                </section>
                
                <section class="descipcion1">
                    <img class="img3" src="/img/Captura de pantalla (77).png" alt="">
                </section>
                
            </div>
        </article>

        <article class="article2">
         <iframe scrolling="no" data-game-width="854" data-game-height="480" src="https://games.construct.net/769/766/embed.html?uid=0&amp;o=1"></iframe> >
        </article>
    </main>

    <footer>

    </footer>
</body>
</html>