<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        
    </header>
    <main>
        <div class="conte-ryu">
            <img src="/img/ryu-png.gif" alt="">

        </div>

        <div class="contenedor">
        <div class="conte-formulario">
            
            <form action="post" class="formulario">
                <div class="login">
                    <h1>log in</h1>
                </div>
                <div>
                    <i class="fa-solid fa-circle-user"></i>
                </div>
                <div class="conte-input">
                    <div class="conte-label">
                        <label for="">ingrese email</label>

                    </div>
                
                <div>
                    
                    <input type="email" placeholder="email">
                </div>
                </div>
                <div class="conte-input">
                    <div class="conte-label">
                        <label for="">ingrese su contraseña</label>

                    </div>
                    <div>
                        <input type="password" placeholder="contraseña">

                    </div>
                </div>
                <div class="button">
                   <button type="submit">start</button>
                </div>

                


            </form>

        </div>
    </div>

        
    </main>
    <footer>
        <div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis dolore, quidem enim repellat cupiditate quasi voluptate accusantium mollitia odio iste vitae nisi, possimus odit totam error suscipit explicabo quod.</p>
        </div>
        <div>

        </div>
    </footer>
        
    
</body>
</html>