
header{
  background-image: linear-gradient(rgb(160, 41, 154),rgb(39, 39, 243)); 
  /* background-image: linear-gradient(rgb(223, 33, 181),rgb(7, 7, 248));color fuerte */
  display: flex;
  height: 90px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.burguerMenu{
  color: white;
  width: 40%;
  font-size: 35px;
  margin-left: 25px;
}

.imglogoprin{
width: 100%;
}

.barra-busqueda-header{
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  cursor: pointer;
  transition: all 1s;
}

.barra-busqueda-header:hover{
  filter: drop-shadow(0px 4px 8px var(--cian));
}

.button-header{
  background-color: white;
  color: var(--azul-oscuro);
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 1px solid white;
}

.button-search{
  background-color: white;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.0);
  

}

.input-header{
  flex: 1;
  padding: 7px;
  border: none;
  outline: none;
  width: 20%;
  border-radius: 10px 0px 0px 10px;
  color: #ffffff; 
  background-color: rgba(0, 0, 0, 0.0);
  border: 1px solid white;
  
}

.userIcon{
  color: white;
  display: flex;
  width: 10%;
  justify-content: flex-end;
  font-size: 35px;
  margin-right: 25px;
}

input {
    all: unset;
  }
  
  .input-wrapper {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    background: hsl(231, 14%, 10%);
    border: 2px solid #2b2c37;
    border-radius: 10px;
  
    box-shadow: hsla(0, 0%, 0%, 0.1) 0px 20px 25px -5px,
      #0000000a 0px 10px 10px -5px;
    transition: all 0.35s ease-out;
    position: relative;
    color: white;
  }
  
  .input {
    width: calc(100% - 70px);
    font: inherit;
    font-size: 18px;
    padding: 1rem;
  }
  .input::placeholder {
    color: #727884;
  }
  
  .input-wrapper:has(input:focus) {
    border: 2px solid #de55de;
    box-shadow: 0 0 120px hsl(300 67% 60% / 0.5);
  }
  
  .input-wrapper > svg {
    position: absolute;
    right: 1rem;
    width: 28px;
    flex-shrink: 0;
    transition: 0.25s;
  }
  
  svg > path {
    fill: none;
    stroke: #727884;
  }
  
  .input:focus + svg > path {
    stroke: none;
    fill: hsl(328, 73%, 72%);
  }
  .input:focus + svg {
    scale: 1.2;
  }

  /*--------------------------------------------------------------------------------------------------------*/
  .navbar{
    width: 83%;
  }
  
  .part2nav{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .part1nav{
    width: 45%;
    display: flex;
    align-items: center;
  }

  .linav{
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
  }

  .linav:hover{
    border-radius: 20px ;
    border: 1px solid rgb(255, 255, 255);
  }

  .menuhamburguesa{
    display: none;
  }

  /*------------------------------------------------------*/

  @media screen and (max-width: 768px) {
    .menuhamburguesa{
      display: block;
    }

    .part2nav{
      display: none;
    }
    .part1nav{
      width: 100%;
      justify-content: space-around;
    }

    .burguerMenu{
      width: 15%;
    }
}