*{
    margin: 0%;
    box-sizing: border-box;
   
}



@font-face {
    font-family: trick ;
    src: url('/css/TRICK12_.TTF');
}

body {
    background-image: url('/img/fondo.png');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-family: trick;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 20px;
    background-color: rgb(0, 0, 0);
}

h2{
    font-family: trick;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 20px;
    background-color: rgb(0, 0, 0);
}

.primerArticulo{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
}

.primerArticulo:first-child {
    opacity: 0.3;
}

.contArticulo{
  width: 99%;
  display: flex;
  justify-content: space-between;
  
}


.imgPrincipal{
    width: 50%;
}
.img1{
    width: 100%;
    border: 1px solid pink;
    box-shadow: 0px 0px 13px 2px rgba(255,0,196,1);
}

.imgSecundarias{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.img2{
    width: 100%;
    height: 48%;
    border: 1px solid white;
}

.descipcion1{
    width: 23%;
}

.img3{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    background-image: url("/img/Captura\ de\ pantalla\ \(77\).png");
    background-size: cover;
}

.article2{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    
}

.contArticulo2{
  width: 99%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('/img/Captura\ de\ pantalla\ \(77\).png');
  background-size: cover;
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
}

.muestra{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 15px;
    border: 1px solid white;
    transition: transform 0.2s;
}

.muestra:hover {
    transform: scale(1.1); /* Aumenta el tamaño en un 10% (1.1 veces) */
    border: none;
    box-shadow: 0px 0px 13px 2px #ff00aa;
  }

.img4{
    width: 80%;
    height: 80%;
}

.nombrejuego{
    font-family: trick;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 20px;
}

.articleabajo {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;;
}

.imgagendesc{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    background-image: url("/img/Captura\ de\ pantalla\ \(77\).png");
    background-size: cover;
    
}

.descipcionabajo1{
    width: 50%;
    height: 230px;
}

.descipcionabajo2{
    width: 46%;
    height: 230px;
}

.req{
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
    color: #d918f3;
}

.reqtitulo{
    font-size: 25px;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    border-bottom: #ffffff 1px solid;
    font-family: trick;
}

.descripcionjuego{
    font-size: 20px;
    color: antiquewhite;
    text-align: center;
    padding-top: 20px;
}

.listado{
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    padding-left: 10px;
}

.imgagendesc3{
  width: 100%;
  height: 35%;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(228, 60, 60);
  text-decoration: none;
  transition: all;
}
.imgagendesc3:hover{
  background-color: rgb(255, 0, 0);
  border: 1px solid pink;
    box-shadow: 0px 0px 13px 2px rgb(255, 0, 0);
}

.imgagendesc4{
  width: 100%;
  height: 35%;
  border: 1px solid white;
  background-color: rgb(43, 154, 206);
  text-decoration: none;
}

.imgagendesc4:hover{
  background-color: rgb(0, 38, 255);
  border: 1px solid pink;
    box-shadow: 0px 0px 13px 2px rgb(0, 38, 255);
}




/*---------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



img {
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  width: 100%;
  /*width: 820px;*/
  height: 340px;
  display: flex;
  gap: 10px;
 /*margin-inline: 50px;*/
  z-index: 1;
}

.card {
  min-width: 70px;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;

  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  transition: flex-grow 0.5s cubic-bezier(0.16, 1, 0.3, 1);

  --transition-timing: 0.35s;
}
/* .card.active {
  flex-grow: 100;
} */
.card:hover {
  flex-grow: 7;
}

.card > .background {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.4);
  z-index: -1;
  transition: var(--transition-timing) ease;
}
.card:hover > .background {
  filter: brightness(1);
}

.card > .card-content {
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 20px;
  overflow: hidden;
  transition: var(--transition-timing);
  z-index: 10;
}
.card:hover > .card-content {
  inset: 20px;
  top: auto;
}

.card-content > * {
  transition: var(--transition-timing);
}

.card-content > .profile-image {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.card:hover .profile-image {
  border: 1px solid rgb(110, 252, 205);
}
.profile-image > svg {
  stroke: #fefefe;
}
.card:hover .profile-image > svg {
  stroke: rgb(110, 252, 205);
}

.card-content > .titlefin {
  white-space: pre;
  margin-left: 10px;
  translate: 0 100%;
  opacity: 0;
  color: white;
}
.card:hover .titlefin {
  opacity: 1;
  translate: 0 0;
}

.card > .backdrop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  z-index: 0;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}