    <article>

    </article>
    
    
    <article class="articf2">
    <section class="sectionf1">
        <img class="imglogo" src="/img/Black_and_White_Viking_Gamer_Logo__1_-removebg-preview (1).png" alt="">
    </section>
    
    <section class="sectionf2">
        <p class="misredes">
            Follow me
        </p>
    
        <ul>
            <li class="item">
              <a href="#">
                <i class="fa-brands fa-instagram icon"></i>
              </a>
            </li>
            <li class="item">
              <a href="#">
                <i class="fa-brands fa-facebook-f icon"></i>
              </a>
            </li>
            <li class="item">
              <a href="#">
                <i class="fa-brands fa-youtube icon"></i>
              </a>
            </li>
            <li class="item">
              <a href="#">
                <i class="fa-brands fa-x-twitter icon"></i>
              </a>
            </li>
          </ul>
    </section>

    <section class="sectionf3">
        seccion 3
    </section>
</article>
