<header>
    <section class="burguerMenu">
        <i class="fa-solid fa-bars"></i>
    </section>

    <form class="barra-busqueda-header" action="../../../product/search" method="GET"  >

        <input class="input-header" type="text"  name="search">
        <div class="button-header">
          <button class="button-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
   
    </form>

    <section class="userIcon">
        <i class="fa-solid fa-circle-user"></i>
    </section>
</header>