     

    <section class="part1nav">
        
        <section class="burguerMenu">
            <img class="imglogoprin" src="/img/Black_and_White_Viking_Gamer_Logo__1_-removebg-preview (1).png" alt="">
        </section>
    
        <form class="barra-busqueda-header" action="../../../product/search" method="GET"  >
    
            <div class="input-wrapper">
                <input class="input" type="text" placeholder="Buscar...gil">
                <button class="button-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
    
        </form>

        <section class="menuhamburguesa">
            <i class="fa-solid fa-circle-user"></i>
        </section>
        
    </section> 


    <section class="part2nav">
        <section class="navbar">
            <ul>
                <a href="/" class="linav">Home</a>
                <a class="linav">Categorias</a>
                <a class="linav">Windows</a>
                <a class="linav">Android</a>
                <a class="linav">Ayuda</a>
            </ul>
        </section>
    
        <section class="userIcon">
            <i class="fa-solid fa-circle-user"></i>
        </section>
    </section>
